
.bottom-header{
    display: flex;
    width: 100%;
    background: rgb(26, 148, 255);
}

.bottom-header ul {
    max-width: 1200px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.bottom-header ul li {
    margin-right: 50px;
    font-size: 20px;
}

.bottom-header ul li:last-child {
    margin-right: 0px;
}